<div class="container">
  <div class="col-md-12">
    <table class="table table-dark table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th class="text-center">Name</th>
          <th class="text-center">Role</th>
          <th class="text-center">Email</th>
          <th class="text-center">City</th>
          <th class="text-center">Phone</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{userDetails.name }}</td>
          <td>{{userDetails.role}}</td>
          <td>{{userDetails.email}}</td>
          <td>{{userDetails.address.city}}</td>
          <td>{{userDetails.phone}}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>